/* SupportPage.css */

/* General styles */
.support-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .support-header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .support-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .contact-info,
  .faq,
  .feedback-form {
    flex: 1 1 300px;
    margin-bottom: 30px;
  }
  
  .contact-info h2,
  .faq h2,
  .feedback-form h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .contact-info ul,
  .faq ul {
    list-style: none;
    padding: 0;
  }
  
  .contact-info ul li,
  .faq ul li {
    margin-bottom: 10px;
  }
  
  .contact-info ul li span {
    color: rgb(26, 26, 235);
  }
  
  .question-heading {
    font-weight: 600;
  }
  
  .feedback-form p {
    margin-bottom: 20px;
  }
  
  /* Toggles for FAQs */
  .question {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .question:hover {
    background-color: #e6e6e6;
  }
  
  .question h4 {
    margin: 0;
  }
  
  .arrow {
    font-size: 15px;
  }
  
  .answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  
  .answer p {
    margin: 0px 0px 12px;
    background-color: white;
    padding: 7px;
    border-radius: 10px;
    color:  #333;
    font-weight: 200;
  }
  
  /* Show answer when expandedIndex is not null */
  .faq-item .answer {
    max-height: 1000px; /* Adjust height based on content */
  }
  
/* ~Feedback form styles */
.feedback-form form {
    display: flex;
    flex-direction: column;
  }
  
  .feedback-form .form-group {
    margin-bottom: 20px;
  }
  
  .feedback-form label {
    font-weight: bold;
  }
  
  .feedback-form input,
  .feedback-form textarea {
    width: calc(100% - 20px); /* Adjust width to leave space for padding */
    padding: 8px; /* Increase padding for input fields */
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px; /* Increase margin bottom for input fields */
    transition: border-color 0.3s ease; /* Add transition for smooth effect */
  }
  
  .feedback-form input:focus,
  .feedback-form textarea:focus {
    border-color: #ff9472;
    outline: none; /* Remove default outline on focus */
  }
  
  .feedback-form textarea {
    resize: vertical; /* Allow vertical resizing */
  }
  
  .feedback-form button {
    padding: 14px 20px; /* Increase padding for button */
    background-color:  #f2709c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: medium;
    letter-spacing: .2ch;
    margin-top: 20px;
  }
  
  .feedback-form button:hover {
    background-color:  #ff9472;
  }
  
  /* Responsive styles */
  @media only screen and (max-width: 600px) {
    .feedback-form .form-group {
      margin-bottom: 15px;
    }
  
    .feedback-form input,
    .feedback-form textarea {
      padding: 15px 8px; /* Adjust padding for smaller screens */
      width: calc(100% - 16px); /* Adjust width for smaller screens */
      margin-top: 5px;
    }
  
    .feedback-form button {
      padding: 15px 16px; /* Adjust padding for smaller screens */
      font-size: medium;
      letter-spacing: .1ch;
      margin-top: 10px;
    }
  }
  
  /* Media query for screens larger than 600px */
  @media only screen and (min-width: 601px) {
    .feedback-form button {
      align-self: flex-end; /* Align button to end of container for larger screens */
    }
  }
  