/* DashboardContent.css */
.admin-dashboard-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .admin-dashboard-sidebar {
    width: 200px;
    height: calc(100vh - 65px);
    background-color: #f2709c;
    padding-right: 10px;
  }
  
  .admin-dashboard-sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .admin-dashboard-sidebar li {
    padding: 10px 10px;
    cursor: pointer;
    font-size: large;
    font-weight: 500;
    color: black;
    transition: background-color 0.3s;
  }
  
  .admin-dashboard-sidebar li.active {
    color: white;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.065);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 20px;
  }

  .admin-dashboard-sidebar li:hover {
    color: white;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.065);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 20px;
  }
  
  .admin-dashboard-content {
    flex: 1;
    margin-left: 20px;
    height: calc(100vh - 65px);
    overflow-y: auto;  /* Add scrollbar when content exceeds height */
  }
  
  .admin-dashboard-content .menu-content {
    display: none;
  }
  
  .admin-dashboard-content .menu-content.active {
    display: block;
    animation: fadeIn 0.5s ease;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  