/* loginForm.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    max-width: 300px;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .input-field {
    width: calc(100% - 21px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .input-field:focus {
    border-color: #ff9472; /* Change focus border color */
    outline: none;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #ff9472; /* Change button color */
    color: #fff;
    font-weight: 600;
    letter-spacing: .1ch;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #d17e52; /* Darker shade on hover */
  }
  